# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
*.log

# Videos & temp
frames/
temp/
*.mp4
*.gif

# Env
.env
